import { ChangeDetectionStrategy, Component } from '@angular/core';
<% if (translations) { -%>
import { TranslocoDirective } from '@jsverse/transloco';
<% } -%>

@Component({
  selector: '<%= selector %>',
  imports: [<% if (translations) { %> TranslocoDirective <% } %>],
  templateUrl: './<%= fileName %>.html',
  styleUrl: './<%= fileName %>.scss',
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class <%= className %> {
}
